.button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.middleButton {
  text-decoration: none;
  background-color: #0d38ce;
  border-radius: 50%;
  border: none;
  padding: 11px 13px;

  cursor: pointer;
}
.container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 58px 7px;
  box-shadow: 1px 5px 5px rgb(139, 139, 139);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 82px;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .wrapper {
    flex-direction: row;
  }
  .container {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 7px 67px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 0;
  }
}
