.headerContainer {
    position: relative;
    width: 100%;
    height: 75px;
    background-image: url(../../../assets/images/backgroundImage.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    display: none;
}

.headerDesc {
    display: none;
}

@media (max-width: 768px) {
    .headerContainer {
        justify-content: center;
        height: 235px;
        flex-direction: column;
        align-items: center;
    }

    .headerTitle {
        display: block;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -0.02em;
        color: #fff;
    }

    .headerDesc {
        display: block;
        color: white;
    }

}